.page-heading {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
  text-align: center;
  line-height: 1; }
  .page-heading:after {
    content: '';
    width: 70px;
    height: 3px;
    display: block;
    background: #F6624A;
    margin: 40px auto 0; }

.flash {
  background: #F6624A;
  color: white;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 1em;
  display: none; }

/*# sourceMappingURL=app.css.map */